@import "icon.css";

/*-------------------- 根 --------------------*/

.root, .content {
    -fx-background-color: TRANSPARENT;
    -color-main: #66CCCC;
}

/*-------------------- 左边区域 --------------------*/

.left {
    -fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 50.0%, #AEEDFECC 0.0%, #66CCCCFF 100.0%);
}

.link {
    -fx-border-width: 0;
}

/*-------------------- 右边区域 --------------------*/

.right {
    -fx-background-color: white;
}

/*---------- 右-顶部 ----------*/

.btn-exit {
    -fx-background-color: TRANSPARENT;
}

.btn-exit Region {
    -fx-shape: -icon-close;
    -fx-background-color: -color-main;
    -fx-pref-width: 15;
    -fx-pref-height: 15;
}

.btn-exit:hover Region {
    -fx-background-color: red;
}

/*---------- 右-中间 ----------*/

.icon {
    -fx-background-color: gray;
    -fx-pref-height: 20;
    -fx-pref-width: 20;
}

.icon-username {
    -fx-shape: -icon-username;
}

.icon-password {
    -fx-shape: -icon-password;
}

.icon-captcha {
    -fx-shape: -icon-captcha;
}

.input {
    -fx-background-color: TRANSPARENT;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: lightgray;
}

.input:focused {
    -fx-border-color: -color-main;
}

/*---------- 右-底部 ----------*/

.btn-login {
    -fx-background-radius: 40;
    -fx-background-color: -color-main;
}