.floatPane {
    -fx-background-color: white;
}

.floatPane:hover {
    -fx-effect: dropshadow(two-pass-box, #afafaf, 10.0, 0, 2, 2);
}

.filter-cbBox:hover {
    /*-fx-border-color: #0db3a6;*/
    /*-fx-border-width: 1 1 0 1;*/
    /*-fx-border-radius: 2;*/
}

.ctrl-imageView-container {
    -fx-border-color: #ededed;
}

.ctrl-imageView-container:hover {
    -fx-background-color: #f0f2f5;
}